# Скопируйте этот файл в .env и впишите свои ключи.
# .env в .gitignore — он не должен попадать в систему контроля версий.

TREFLE_API_KEY=usr-ATCQ8oOmPBqSA6TZKTs_EHlBXjAeTwfsa786pQsAIkg
PLANT_ID_API_KEY=TEtQ1eBtY7CpgN69X8WELbTyh2SliNNVXoqisfkH3PLQ9fWHlM
